<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit my Todo</title>
    <link href="https://fonts.googleapis.com/css?family=KoHo" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8">

    <style>
        body{
            background-color: lightgoldenrodyellow;
            font-family: 'KoHo', sans-serif
        }
    </style>
</head>
<body>
<h1>Update Todo</h1>
<form action="#" th:action="@{/update/} + *{id}" th:method="POST">
    <label for="title">ToDo Description: </label>
    <input id="title" type="text" th:field="*title"/>
    <p></p>
<div>
    <label for="isUrgent">Urgent?</label>
    <input id="isUrgent" type="checkbox"/>
</div>
    <p></p>
<div>
    <label for="isDone">Done?</label>
    <input id="isDone" type="checkbox"/>
</div>
    <p></p>
    <div>
        <input type="submit" class="btn btn-light" value="Submit"/>
        <a class="btn btn-danger" role="button" th:href="@{}">Cancel</a>
    </div>
</form>

</body>
</html>